.Contact{
    border: 2px solid green;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.7rem;
    margin-top: 1rem;
    padding-top: 1.7rem;
    padding-bottom: 0.9rem;
}

.LeftSpan{
    padding-left: 1rem;
}

.MailTo{
    text-decoration: underline;
    color: blue;
}